<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <form method="POST">
        proj id: <input type="text" name="proj_id"><br>
        name: <input type="text" name="name"><br>
        method: <input type="text" name="method"><br>
        url: <input type="text" name="url"><br>
        req_header:<input type="text" name="req_header"><br>
        data: <input type="text" name="data"><br>
        exp_status_code: <input type="text" name="exp_status_code"><br>
        assert_key: <input type="text" name="assert_key"><br>
        exp_value: <input type="text" name="exp_value"><br>

        <input type="submit" value="Upload">
    </form>
</body>
</html>